In [158]:
import numpy as np
import pandas as pd

# Load Data
df = pd.read_csv('./Data/cars.csv')

# Sample of Data
df.sample(10)

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_has_gas,engine_type,engine_capacity,...,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,duration_listed
23600,Volvo,S40,automatic,white,230000,2003,gasoline,False,gasoline,1.9,...,True,False,False,True,True,False,True,False,True,57
10754,Ford,Escape,automatic,white,133000,2013,gasoline,False,gasoline,1.6,...,True,True,True,True,True,False,True,True,True,834
11405,Ford,Sierra,mechanical,blue,70000,1986,diesel,False,diesel,2.3,...,False,False,False,False,False,False,False,False,False,107
33044,Infiniti,FX,automatic,grey,302557,2003,gasoline,False,gasoline,3.5,...,True,True,True,True,True,False,True,False,True,23
26996,Nissan,Navara,mechanical,green,360000,2005,diesel,False,diesel,2.5,...,True,False,False,False,False,False,False,False,True,87
8649,ВАЗ,21214,mechanical,blue,172000,2007,gasoline,False,gasoline,1.7,...,False,False,False,False,False,False,False,False,True,81
9051,Fiat,Ducato,mechanical,blue,306000,1996,diesel,False,diesel,2.3,...,False,False,False,False,False,False,False,False,False,17
2605,Opel,Signum,mechanical,other,250000,2004,diesel,False,diesel,3.0,...,False,True,True,False,False,True,False,False,False,3
14771,Seat,Cordoba,mechanical,blue,215000,2003,gasoline,False,gasoline,1.4,...,True,False,False,False,False,False,False,False,True,59
3442,Opel,Insignia,automatic,black,183000,2011,gasoline,False,gasoline,2.0,...,True,True,True,True,True,True,True,True,True,219

In [159]:
def label_encoder(row):
    # get unique values in the row
    values = row.unique()
    # create empty dictionary to store labels
    labels = {}
    # loop through unique values and assign a label
    for key, values in enumerate(values):
        labels[values] = key        
    # create a new Pandas series with labels for each value
    return pd.Series([ labels[value] for value in labels] )

# select columns of object type and apply label_encoder function to each row
# print first 5 rows of the resulting dataframe
df.select_dtypes('object').apply(label_encoder).head()

,manufacturer_name,model_name,transmission,color,engine_fuel,engine_type,body_type,state,drivetrain,location_region
0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,2.0,2,NaN,2.0,2.0,2.0,2.0,2.0,2.0,2.0
3,3.0,3,NaN,3.0,3.0,NaN,3.0,NaN,NaN,3.0
4,4.0,4,NaN,4.0,4.0,NaN,4.0,NaN,NaN,4.0